
<div *ngIf="employee">
  
  <!--login start -->
  <div class="LoginOuterDiv">
    <div class="LoginInnerDiv">

      <div>
        <h4 class="text-uppercase">Employee Details</h4>
        <hr />
        <br />
      </div>
      
      <div class="loginInfo LoginSec">

        <!--login start-->
        <!--<div class="form-row">
    <label for="txtEmpName">Employee Name</label>
    <input type="text" class="inputfld" placeholder="Employee Name" id="txtEmpName" [(ngModel)]="employee.Name">
  </div>-->

        <div class="form-row">
          <mat-form-field>
            <input matInput placeholder="Employee Name" id="txtEmpName" [(ngModel)]="employee.Name">
          </mat-form-field>
        </div>

        <!--<div class="form-row">
    <br />
    <label for="txtJoiningDate">Joining Date</label>
    <input type="text" class="inputfld" placeholder="Joining Date" id="txtJoiningDate" [(ngModel)]="employee.JoiningDate">
  </div>-->

        <div class="form-row">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Joining Date" id="txtJoiningDate" [(ngModel)]="employee.JoiningDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!--<div class="form-row">
    <br />
    <label for="txtAge">Age</label>
    <input type="text" class="inputfld" placeholder="Age" id="txtAge" [(ngModel)]="employee.Age">
  </div>-->
        <div class="form-row">
          <mat-form-field>
            <input matInput placeholder="Age" id="txtAge" [(ngModel)]="employee.Age">
          </mat-form-field>
        </div>


        <div class="form-row text-center">
          <button class="orangeBtn login" (click)="save()">Save</button>
        </div>


      </div><!--login End-->



      </div>
  </div>
  <!--login end -->
</div>



  


