<div class="leftMenus">
  <ul>
    <li class="active"><a routerLink="employee-list"><i class="icons agenda-icon"></i><span class="li_Txt"> Employees List </span></a></li>
    <li><a href=""><i class="icons meeting-icon"></i><span class="li_Txt"><span>Minutes of</span> Meeting </span> </a></li>
    <li><a href=""><i class="icons member-icon"></i><span class="li_Txt"> <span>Committee/ </span>Board Members </span> </a></li>
    <li class="logout-btn"><a [routerLink]="['/login']"><i class="glyphicon glyphicon-off"></i><span class="li_Txt"> Logout </span> </a></li>
  </ul>
</div>

