
html{
	position: relative;
	min-height: 100%;
}
body {
	min-width: 768px;
	background: #ffffff none no-repeat 0 0;
	font-family: $base-font;
	margin: 0px;
	padding: 0px;
	min-height:100vh;
	height:100%;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
	/* min-width: 767px; */
	@include transition(all 0.5s ease 0s);
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: 0px;
  outline-offset: -2px;
}
a{
	outline: none;
	border:0px;
	&:hover, &:active, &:focus {
		outline: none;
	}
}
img {
	max-width:100%;
}
ul, li{
	list-style:none;
	margin:0px;
	padding:0px;	
}
h1, h2, h3, h4, h5, h6{
	padding: 0px;
	margin:0px;
}
h1{
	font-size: 27px;
	font-weight: 300;
	font-family: inherit;
	color: $color-gray;
}
h2{
	color: $black-color;
	font-size: 20px;
	font-weight: 400;
	font-family: inherit;
}
h3{
	color: $black-color;
	font-size: 16px;
	font-weight: 600;
	font-family: inherit;
}
.no-Padd {
	padding: 0 !important;
}
th,td,tr{
	border: none !important;
}
.no-Marg {
	margin: 0 !important;
}
hr {
    background: $lines-color;
    border: medium none;
    display: block;
    float: left;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.modal-backdrop.in {
    opacity: 0.95;
}
.modal-backdrop {
    background-color: #f4f4f4;
}


