/* Fonts*/

$base-font:'Open Sans', sans-serif;


/* color */
$greenbtn: #7cbb00;
$base-color: #f87c30;
$base-color-2: #000000;
$white: #ffffff;
$lines-color: #dfdfdf;
$black-color: #333333;
$btn-border: #999999;
$border-color: #afafaf;
$orange-brdr: #ddad65;
$color-gray: #cfcfcf;
$light-gray2: #f5f5f5;
$light-gray3: #eeeeee;
$light-gray: #e8e8e8;
$light-bg: #f7f7f7;
$dark-gray-bg: #edeff1;
$light-bg: #f1f1f1;
$light-bg-color: #fbfbfb;
$fadetext: #737374;
